<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
<%- include('../includes/navigation.ejs') %>

<main>
    <main>
        <% if (orders.length > 0) { %>
            <% orders.forEach(order => { %>
                <div class="card mb-3">
                    <div class="card-body">
                        <p>Order# <%= order._id %></p>
                        <% Object.values(order.items).forEach(item => { %>
                            <p><strong><%= productsMap[item.productId].title %></strong> (<%= item.quantity %>)</p>
                        <% }) %>
                        <a href="/orders/<%= order._id %>">Download Invoice</a>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <h1>No Orders found!</h1>
        <% } %>
    </main>
</main>
<%- include('../includes/end.ejs') %>
