<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container">
            <h1>Reset Password</h1>
            <% if (errorMessage) { %>
                <div class="alert alert-danger" role="alert">
                    <%= errorMessage %>
                </div>
            <% } %>
            <form action="/reset-password" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" type="email" name="email" class="form-control" placeholder="name@example.com">
                </div>
                <button type="submit" class="btn btn-primary ml-auto">Reset Password</button>
            </form>
        </div>
    </main>
<%- include('../includes/end.ejs') %>
