<%- include('../includes/head.ejs') %>
</head>

<body>
<%- include('../includes/navigation.ejs') %>
<main>
    <div class="container">
        <h1>Sign up</h1>
        <form action="/signup" method="post" novalidate>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email"
                        name="email"
                        type="email"
                        class="form-control"
                        placeholder="name@example.com"
                        value="<%= oldInput && oldInput.email %>">
                <% if (validationErrors.email) { %>
                    <div class="invalid-feedback d-block">
                        <%= validationErrors.email.msg %>
                    </div>
                <% } %>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password"
                        name="password"
                        type="password"
                        class="form-control"
                        placeholder="Password"
                        value="<%= oldInput && oldInput.password %>">
                <% if (validationErrors.password) { %>
                    <div class="invalid-feedback d-block">
                        <%= validationErrors.password.msg %>
                    </div>
                <% } %>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input id="confirmPassword"
                        name="confirmPassword"
                        type="password"
                        class="form-control"
                        placeholder="Confirm Password"
                        value="<%= oldInput && oldInput.confirmPassword %>">
                <% if (validationErrors.confirmPassword) { %>
                    <div class="invalid-feedback d-block">
                        <%= validationErrors.confirmPassword.msg %>
                    </div>
                <% } %>
            </div>
            <button type="submit" class="btn btn-primary ml-auto">SignUp</button>
        </form>
    </div>
</main>
<%- include('../includes/end.ejs') %>
